* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  padding: 20px;
  margin-top: 75px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-content: center;
  background-color: black;
  color: whitesmoke;
  position: fixed;
  width: 100%;
  right: 0px;
  top: 0px;
}

h1, header h2 {
  padding: 20px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

main {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: baseline;
  height: 1150px;
  background-color: whitesmoke;
}

img {
  width: 400px;
}

figure {
  width: max-content;
}

article {
  height: 100%;
  width: 40%;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}


p {
  text-align: left;
  text-transform: uppercase;
  line-height: 18px;
}